@import url('https://fonts.googleapis.com/css2?family=Coiny&family=DynaPuff:wght@400..700&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DynaPuff", system-ui;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

body{
  background-color:  #000 ;
}


#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}